{:paths ["src" "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}
        wevre/natural-compare {:mvn/version "0.0.8"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}
 :aliases {:test {:extra-paths ["test"]}
           
           :run-tests 
           {:extra-paths ["test"]
            :extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner.git"
                          :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
            :main-opts ["-m" "cognitect.test-runner"]}
           
           :uberjar 
           {:extra-deps {uberdeps/uberdeps {:mvn/version "1.0.4"}}
            :main-opts ["-m uberdeps.uberjar"
                        "--target target/pptree.jar"
                        "--main-class wevre.pptree.main"]}}}
